* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.links-reply-icon {
	color: #ec70a7;
}
.comment-page {
	margin-top: 10px;
	background-color: rgb(255, 255, 255);
	border: 1px solid #e2dfdf;
	padding: 5px;
}
.danger {
	background-color: #f8d7da;
	color: #93205c;
}
.success {
	background-color: #d1e7dd;
	color: #0f5132;
}
.links-reply {
	color: #bdaaaa;
	text-decoration: none;
}

.link-title {
	text-decoration: none;
	color: #111111;
}
input,
textarea {
	outline: none;
}
input[type='checkbox'] {
	margin-right: 3px;
}

textarea {
	color: black !important;
}
.author-input {
	border: 1px solid #eeeeee;
	height: 50px;
	padding: 10px;
	border-radius: 2px;
}

.bg-disable {
	display: none;
}

.pink {
	color: #ec70a7;
}
.mt {
	margin-top: 10px;
}
nav {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: white;
}

.logo {
	font-family: 'Days One', sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #ec70a7;
	text-align: center;
}
.links {
	text-decoration: none;
	color: #727272;
}

.tab-links {
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
	margin: 10px;
	background-color: white;
	margin-bottom: 0;
	width: 100%;
	margin-left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tab-links p {
	text-decoration: none;
	color: rgb(68, 68, 68);
	padding-bottom: 10px;
	width: 100%;
	cursor: pointer;
}
.tab-links p.active {
	border-bottom: 2px solid #007aff;
	font-weight: 700;
}

.search-box {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 2px;
}

.input-area {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eeeeee;
	width: 100%;
	padding-left: 10px;
}
.search-input {
	height: 40px;
	width: 98%;
	background-color: #eeeeee;
	border: none;
	padding-left: 10px;
	font-size: 18px;
}
#content {
	margin-top: 120px;
}
#filter-content {
	margin-top: 120px;
	padding: 0;
}

.discussion {
	margin: 8px;
	padding: 15px;
	border: 1px solid #eeeeee;
	border-radius: 10px;
	padding-bottom: 0;
}

.poster {
	padding-bottom: 0;
	margin-bottom: 0;
}
.poster-profile {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.poster-profile img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
}
.poster-details {
	display: flex;
	flex-direction: column;
}
.name {
	font-size: 22px;
}
small {
	color: #acaaaa;
}
.post-title {
	margin-top: 10px;
}
.post-content {
	margin-top: 15px;
	color: #acaaaa;
}
.post-activities {
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	color: #acaaaa;
}
.social {
	margin-top: 15px;
	border-top: 2px solid #f2f2f2;
	display: flex;
	padding: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	justify-content: space-evenly;
	justify-items: center;
}
.social span {
	height: 30px;
	display: flex;
	align-items: center;
	color: #ec70a7;
	width: 100%;
	justify-content: center;
	cursor: pointer;
}
.social span:not(:last-child) {
	border-right: 2px solid #f2f2f2;
}
.space {
	margin-right: 8px;
}
.btn {
	border: none;
	width: 150px;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
}

.btn-new-post {
	background-color: #40bfff;
	color: white;
	font-size: 16px;
	font-weight: 600;
}
.large {
	width: 100%;
}

#post-btn {
	position: fixed;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-bottom: 10px;
}
.filters {
	margin: 10px;
	display: flex;
	width: 95%;
}
.inner-filter {
	display: flex;
	overflow-x: auto;
	padding-top: 5px;
}
.inner-filter::-webkit-scrollbar {
	width: 0;
}
.inner-filter p {
	border: 1px solid #eeeeee;
	border-radius: 5px;
	padding: 8px;
	cursor: pointer;
}
.inner-filter p:not(:last-child) {
	margin-right: 10px;
}
.filter-label {
	font-weight: bolder;
	border-left: 2px solid #eeeeee;
	padding-left: 15px;
	height: 50px;
	display: flex;
	align-items: center;
	cursor: pointer;
}
#filter-menu {
	width: 100vw;
	height: 100vh;
	background-color: #ececec;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	display: flex;
	flex-direction: column;
}
.search-btn {
	display: none;
}

#top {
	flex: 1;
	display: flex;
	flex-direction: column;
}
#top .filter-menu {
	list-style: none;
	width: 40%;
}
#top .ul-menu li {
	height: 30px;
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 30px;
	border: 1px solid #eeeeee;
}
.li-active {
	background-color: white;
}
.li-active a {
	color: #ec70a7;
}
#top .filter-menu li:last-child {
	padding-bottom: 30px;
}
.submenu {
	list-style: none;
	position: absolute;
	right: 0;
	top: 60px;
	width: 60%;
	background-color: #f8f8f8;
	height: calc(100% - 110px);
}

.filter-menu-title {
	display: flex;
	justify-content: space-between;
	padding: 20px 40px 10px 20px;
	font-size: 24px;
	background-color: white;
	border-bottom: 2px solid #eeeeee;
}
.cancel {
	cursor: pointer;
}
#bottom {
	height: 50px;
	width: 100%;
	background-color: white;
	border: 2px solid #eeeeee;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
#bottom div {
	height: 100%;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bolder;
}
#bottom div a:hover {
	color: #ec70a7;
	cursor: pointer;
}
#bottom div:not(:last-child) {
	border-right: 2px solid #eeeeee;
}

/* Articles page styles */
.articles {
	margin: 8px;
	padding: 15px;
	border: 1px solid #eeeeee;
	border-radius: 10px;
	padding-bottom: 0;
}
.art-source a {
	color: #727272;
}
.articles .title {
	font-size: 18px;
	margin: 10px 0 2px 0;
}
.articles .art-img {
	width: 100%;
	margin-top: 4px;
	margin-bottom: 4px;
}
.articles img {
	width: 100%;
}

/* Add post Form styles */
.add-post {
	display: flex;
	flex-direction: column;
}
.add-post p {
	display: flex;
	flex-direction: column;
}

.add-post p label {
	margin: 5px 0 5px 0;
	font-weight: bolder;
}
.new-post {
	padding: 15px;
}

.add-post textarea {
	height: 150px;
	padding: 10px;
	border: 1px solid #eeeeee;
	border-radius: 5px;
	color: #eeeeee;
	margin-bottom: 10px;
}

.j-right {
	display: flex;
	align-items: flex-end;
}

.j-right label {
	font-weight: unset;
	font-size: 12px;
	color: #acaaaa;
}
.cat h4 {
	margin-bottom: 10px;
}

/* comment styles */
.show-comments {
	margin: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.comment {
	font-size: 14px;
	color: #acaaaa;
	margin-bottom: 15px;
}

/* add comment */
.add-comment {
	margin-top: 15px;
	padding-bottom: 10px;
}

.add-comment input {
	height: 40px;
	width: 100%;
	padding: 15px;
	border: 1px solid #ececec;
	font-size: 16px;
	margin-bottom: 5px;
	background-color: #e0dbdb;
}
.add-comment textarea {
	width: 100%;
	height: 70px;
	padding: 15px;
	border: 1px solid #ececec;
	font-size: 16px;
	background-color: #e0dbdb;
}
.add-comment button {
	width: 100%;
	color: white;
	background-color: #007aff;
	border: none;
	border-radius: 5px;
}
/* footer styles */
.footer a {
	position: absolute;
}
.hide {
	display: none;
}

.filter {
	transform: translateX(-100%);
	transition: transform 0.3s ease-out;
}

.filter.open {
	transform: translateX(0);
}

/* styles for notification */
.alert {
	position: fixed;
	top: 50vh;
	height: 100px;
	width: 100%;
	background-color: #f8f6f6;
	border: 2px solid #eeeeee;
	border-radius: 3px;
	z-index: 2000;
}

.inner-msg {
	display: flex;
	flex-direction: column;
}

.inner-msg h6 {
	text-align: center;
	/* background-color: #f2f2f2; */
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-weight: 700;
}

.msg {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
}
.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
}

/* styles for larger devices */
/* @media screen and (min-width: 768px) {
	
} */
@media only screen and (min-width: 868px) {
	#nav {
		position: unset;
		margin-bottom: 10px;
	}
	#header {
		display: flex;
		justify-content: space-between;
		padding: 10px;
	}
	.logo {
		margin-left: 10px;
	}
	.tab-links {
		width: 20%;
	}

	.search-box {
		background-color: #dec7b6; /* d0b291; */
		height: 150px;
		padding: 15px;
		background-image: url('./img/pregnancy.jpg');
		background-repeat: no-repeat;
		background-position: center;
	}
	.overlay {
		height: 150px;
		width: 740px;
		background-color: black;
		position: absolute;
		opacity: 0.3;
		display: block;
	}
	.input-area {
		max-width: 600px;
		z-index: 1000;
	}
	.search-input {
		height: 60px;
	}
	.search-btn {
		height: 60px;
		width: 60px;
		margin-left: 10px;
		background-color: #ec70a7;
		border: none;
		z-index: 1000;
		color: white;
		font-size: 36px;
		font-weight: bold;
		display: block;
	}
	.input-area .bi {
		display: none;
	}
	#content,
	#article-content {
		margin-top: 0;
		background-color: white;
	}

	.discussions {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.discussion {
		/* width: 55%; */
		width: 740px;
		background-color: #fafafafd;
	}
	.filters {
		display: flex;
		padding: 0;
		flex-direction: row;
		justify-content: flex-end;
	}
	.filter-label {
		margin: 0;
	}

	.inner-filter p {
		margin: 5px;
		width: 50%;
	}
	#filter-menu {
		width: 40%;
		position: fixed;
		z-index: 1500;
	}

	.bg-disable {
		display: flex;
		width: 100%;
		height: 100vh;
		background-color: black;
		z-index: 1200;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		opacity: 0.3;
		display: none;
	}

	#article-content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.articles {
		/* width: 55%; */
		width: 740px;
	}
	.new-post {
		/* width: 55%; */
		width: 740px;
	}
	.add-post-content,
	.comment-content {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.comment-page {
		margin-top: 10px;
		background-color: white;
		border: 1px solid #eeeeee;
		padding: 5px;
	}
	.alert {
		position: fixed;
		top: 50px;
		right: 0;
		width: 350px;
		height: 80px;
		border: 2px solid #eeeeee;
		border-radius: 3px;
		transition: all;
	}
	.alert.success {
		position: fixed;
		top: 50px;
		right: 0;
		background-color: #d1e7dd;
		color: #0f5132;
		width: 350px;
		height: 80px;
		border: 2px solid #eeeeee;
		border-radius: 3px;
		transition: all;
	}
	.alert.danger {
		position: fixed;
		top: 50px;
		right: 0;
		background-color: #f8d7da;
		color: #93205c;
		width: 350px;
		height: 80px;
		border: 2px solid #eeeeee;
		border-radius: 3px;
		transition: all;
	}
}
